body {
 background: linear-gradient(
    to right,
    rgb(130, 122, 139),
    rgb(61, 75, 96)
  );


}

.product-row{
  row-gap: 20px;
  padding: 10px;
}

.product-img{
  height: 400px;
  padding : 20px
}

.cart-img{
  height: 150px;
  padding: 20px;
}

.navbar {
  overflow: hidden;
  position:fixed;
  top: 0;
  width: 100%;
}



.main {
  padding: 16px;
  height: 1500px; /* Used in this example to enable scrolling */
}